/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'PalatinoLTStdRoman', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #171515;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }

h2 {
  font-size: 36px;
  margin-top: 25px;
}

h3 {
  font-size: 24px;
  margin-top: 25px;
  text-decoration: underline;
}


p { margin: 1em 0; }

a         { color: #28373b; }
a:hover   { color: #171515; }
a:visited { color: #28373b; }

/*****************************************************************************/
/*
/* Fonts
/*
/*****************************************************************************/
@font-face {
      font-family: 'BrothersBold';
          src: url('fonts/brothers-bold.eot');
          src: url('fonts/brothers-bold.eot') format('embedded-opentype'),
          url('fonts/brothers-bold.woff') format('woff'),
          url('fonts/brothers-bold.ttf') format('truetype'),
          url('fonts/brothers-bold.svg#BrothersBold') format('svg');
}
@font-face {
      font-family: 'PalatinoLTStdRoman';
          src: url('fonts/palatinoltstd-roman.eot');
          src: url('fonts/palatinoltstd-roman.eot') format('embedded-opentype'),
          url('fonts/palatinoltstd-roman.woff') format('woff'),
          url('fonts/palatinoltstd-roman.ttf') format('truetype'),
          url('fonts/palatinoltstd-roman.svg#PalatinoLTStdRoman') format('svg');
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.post-group {
  margin-bottom: 25px;
}

.post-group h2 {
  font-size: 22px;
}

.post-group ul {
  list-style: none;
}

.post-group span {
  background: #fff;
  display: inline-block;
  position: relative;
  top: 6px;
}

.posts li {
  border-bottom: 1px dotted #ece7db;
  text-align: left;
  font-size: 18px;
}

li.post span a {
  text-decoration: none;
}

.post-group .date {
  float: right;
  padding: 0 0 0 5px;
}

.top-image {
  background: url(../images/bgimage.jpg) no-repeat;
  background-size: 100%;
  height: 300px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header a {
  font-weight: bold;
  text-decoration: none;
}

header h1.title {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  margin-top: 1em;
  line-height: 0px;
}

header h1.title a {
  color: #38524f;
  font-family: 'BrothersBold';
}

header h1.title a:hover {
  color: #171515;
}

header a.extra {
  color: #38524f;
}



header a.extra:hover {
  color: #171515;
}

.meta {
  color: #aaa;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  width: 640px;
  margin: 0 auto;
  padding-bottom: 25px;
}

footer ul {
  width: 123px;
  margin: 0 auto;
  list-style: none;
  margin-top: 10px;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer ul li a {
  font-size: 35px;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  width: 640px;
  margin: 0 auto;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.pagination {
  margin-bottom: 25px;
}

#home {
  width: 640px;
  margin: 0 auto;
  margin-top: 2em
}

.portfolio {
  width: 300px;
  height: 300px;
  float: left;
  border: 3px solid #38524f;
  margin: 0 7px 10px 7px;
}

ul.client-list {
  list-style: none;
}

ul.client-list li {
  margin: 10px 0;
}
