/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'PalatinoLTStdRoman', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #171515;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #28373b; }
a:hover   { color: #171515; }
a:visited { color: #28373b; }

/*****************************************************************************/
/*
/* Fonts
/*
/*****************************************************************************/
@font-face {
      font-family: 'BrothersBold';
          src: url('fonts/brothers-bold.eot');
          src: url('fonts/brothers-bold.eot') format('embedded-opentype'),
          url('fonts/brothers-bold.woff') format('woff'),
          url('fonts/brothers-bold.ttf') format('truetype'),
          url('fonts/brothers-bold.svg#BrothersBold') format('svg');
}
@font-face {
      font-family: 'PalatinoLTStdRoman';
          src: url('fonts/palatinoltstd-roman.eot');
          src: url('fonts/palatinoltstd-roman.eot') format('embedded-opentype'),
          url('fonts/palatinoltstd-roman.woff') format('woff'),
          url('fonts/palatinoltstd-roman.ttf') format('truetype'),
          url('fonts/palatinoltstd-roman.svg#PalatinoLTStdRoman') format('svg');
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.top-image {
  background: url(../images/bgimage.jpg) no-repeat;
  background-size: 100%;
  height: 300px;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header a {
  font-weight: bold;
  text-decoration: none;
}

header h1.title {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  margin-top: 1em;
  line-height: 0px;
}

header h1.title a {
  color: #38524f;
  font-family: 'BrothersBold';
}

header h1.title a:hover {
  color: #171515;
}

header a.extra {
  color: #aaa;
}



header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
  width: 640px;
  margin: 0 auto;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  width: 640px;
  margin: 0 auto;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

#home {
  width: 640px;
  margin: 0 auto;
  margin-top: 2em
}

.portfolio {
  width: 300px;
  height: 300px;
  float: left;
  border: 3px solid #171515;
  margin: 0 7px 10px 7px;
}
